Repository bschaatsbergen/cidr, changes with the labels that .github/labeler.yaml gives for each.
All labels: github-actions, dependencies, documentation, legal, tests

chore: add GetFirstUsableIPAddress, GetPrefixLength and errors
  pkg/core/const.go
  pkg/core/core.go
Labels: none

chore: produce a human readable number and print coloured network details
  cmd/explain.go
  go.mod
  go.sum
  pkg/core/const.go
  pkg/core/core.go
Labels: dependencies

chore: ignore goconst on explain func
  cmd/explain.go
Labels: none

chore: add 2 helper functions to determine if a network is an IPv4 or IPv6 network
  pkg/helper/network.go
Labels: none

chore: improve the explainCmd by using a networkDetails struct
  cmd/explain.go
Labels: none

chore: add tests
  pkg/core/core_test.go
  pkg/helper/contains_test.go
Labels: tests

chore: add a length indicator to the prefix length
  cmd/explain.go
Labels: none

chore: add `explain` subcommand to `README.md`
  README.md
Labels: documentation

chore: fix wording in `explain` section
  README.md
Labels: documentation

chore: move `explain` to the top
  README.md
Labels: documentation

chore: improve the netmask function by separating it
  cmd/explain.go
  pkg/core/core.go
  pkg/core/core_test.go
Labels: tests

chore: fix typo
  pkg/core/core_test.go
Labels: tests

chore: improve comments
  pkg/core/core.go
Labels: none

fix: Fixed help text for explain command
  .gitignore
  cmd/explain.go
Labels: none

chore: added PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github-actions

.github/labeler.yaml:

github-actions:
- '.github/**'
- '.goreleaser.yaml'

dependencies: 
- 'go.mod'
- 'go.sum'

documentation:
- 'README.md'

legal:
- 'LICENSE'

tests:
- '**/*_test.go'
