Repository bschaatsbergen/cidr, pull requests merged in 2023-12, with the labels that each got.

#74 feat: set cobra usage template headers to a blue color
  cmd/root.go
  go.mod
  go.sum
Labels: dependencies

#73 chore: remove downloads badge
  README.md
Labels: documentation

#77 Add `golangci-lint`
  .github/workflows/ci.yaml
  .golangci.yml
  cmd/root.go
Labels: github-actions

#75 Add `explain` subcommand
  .github/workflows/ci.yaml
  cmd/explain.go
  go.mod
  go.sum
  pkg/core/const.go
  pkg/core/core.go
  pkg/core/core_test.go
  pkg/helper/contains.go
  pkg/helper/contains_test.go
  pkg/helper/network.go
Labels: new-feature, dependencies, github-actions, tests

#82 chore: add `explain` subcommand to `README.md`
  README.md
Labels: documentation

#83 chore: fix wording in `explain` section
  README.md
Labels: documentation

#86 chore: added PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github-actions

#84 chore: improve the netmask function by separating it
  cmd/explain.go
  pkg/core/core.go
  pkg/core/core_test.go
Labels: tests

#87 chore: bumped actions/labeler to v5
  .github/labeler.yaml
  .github/workflows/triage-ci.yaml
Labels: github-actions, waiting-response
