Repository bschaatsbergen/cidr, pull requests merged in 2024-06, with the labels that each got.

#104 Add Github Actions Dependabot configuration & bump Action versions
  .github/dependabot.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
Labels: github-actions

#100 feature: add `divide` subcommand
  README.md
  cmd/count.go
  cmd/divide.go
  cmd/explain.go
  go.mod
  go.sum
  pkg/core/core.go
  pkg/core/core_test.go
  pkg/helper/formatter.go
  pkg/helper/formatter_test.go
Labels: documentation, new-feature, dependencies, minor, tests

#109 chore: remove `copywrite`
  .copywrite.hcl
  .github/workflows/ci.yaml
  cmd/contains.go
  cmd/count.go
  cmd/divide.go
  cmd/explain.go
  cmd/overlaps.go
  cmd/root.go
  main.go
  pkg/core/const.go
  pkg/core/core.go
  pkg/core/core_test.go
  pkg/helper/contains.go
  pkg/helper/contains_test.go
  pkg/helper/formatter.go
  pkg/helper/formatter_test.go
  pkg/helper/network.go
Labels: github-actions, tests

#112 chore: pin `v1.26.2` before we upgrade to goreleaser ~> v2
  .github/workflows/goreleaser.yaml
Labels: github-actions
